.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.component {
  text-align: left;
  border: 1px solid black;
  padding: 6px;
  box-shadow: 0 1px 9px 2px rgba(0, 0, 0, 0.91);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  background: linear-gradient(40deg, #12a1e3 0%, #4bd670 100%);
  user-select: none;
  cursor: pointer;
}

.component:hover {
  box-shadow: 0 1px 9px 2px rgba(0, 0, 0, 0.91) inset;
  animation: pulsate 1s infinite alternate;
  text-shadow: 0 0 8px #ccc;
}

.component:active{
  background: linear-gradient(
    91deg,
    rgb(132, 3, 146) 0%,
    rgb(253, 6, 6) 100%
  );
}

@media screen and (max-width: 1100px) {
  .catalog {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .catalog {
    grid-template-columns: 1fr;
  }
}

@keyframes pulsate {
  from {
    box-shadow: 0 0 16px 6px #333 inset;
  }
  to {
    box-shadow: 0px 0 16px 4px #c00 inset;
  }
}