.filterContainer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}

.error {
    font-weight: bold;
    color:black;
    text-shadow: 1px 1px 2px red;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 1100px){
    .filterContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px){
    .filterContainer {
        grid-template-columns: 1fr;
    }
}