.pagingContainer {
    grid-template-columns: 1fr 1fr ;
    grid-gap: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline;
}


.pagingContainer input {
    color: black;
    text-decoration: none;
    border: solid #080b0d 1px;
    border-radius: 5px;
    padding: 5px;
    user-select: none;
    box-sizing: border-box;
    background: white;
    opacity: 0.8;
}

.pagingContainer input:hover {
    border: 1px solid crimson;
    color: crimson;
    cursor: pointer;
}

.pagingContainer input:disabled {
    background: gray;
    color: white;
    cursor: not-allowed;
}

.pagingContainer input:hover:disabled {
    border: 1px solid black;
    color: white;
}

.itemsParePage {
    padding: 5px 10px;
}

.horizontalPadding {
    margin-left: 10px;
    margin-right: 10px;
}