image: microsoft/dotnet:latest

stages:
  - build
  - test
  # - deploy

build:
  stage: build
  variables:
    build_path: "Backend"
  script:
    - "cd $build_path"
    - "dotnet restore"
    - "dotnet build"

test:
  stage: test
  variables:
    test_path: "Backend.Tests"
  script:
    - "cd $test_path"
    - "dotnet test"

# deploy:
#   stage: deploy:
#   image: docker:latest
#   script:
#     - ""