stages:
  - build
  - test
  - deploy

variables:
  api_key: $HEROKU_API_KEY

buildBackend:
  stage: build
  image: microsoft/dotnet:latest
  variables:
    build_path: "Backend"
  script:
    - "cd $build_path"
    - "dotnet restore"
    - "dotnet build"

buildFrontend:
  stage: build
  image: node:9.11.1
  variables:
    build_path: "Frontend-React"
  script:
    - "cd $build_path"
    - "npm install"
    - "npm run build"

testBackend:
  stage: test
  image: microsoft/dotnet:latest
  variables:
    test_path: "Backend/Backend.Tests"
  script:
    - "cd $test_path"
    - "dotnet test"

deployBackend:
  stage: deploy
  variables:
    build_path: "Backend/Backend.WebApi"
  script:
    - "cd $build_path"
    - "git init"
    - "git config user.email 'you@example.com'"
    - "git config user.name 'Your Name'"
    - "git add ."
    - "git commit -m 'Publish'"
    - "git remote add heroku https://heroku:$api_key@git.heroku.com/backon.git"
    - "git push -f heroku master"

deployFrontend:
  stage: deploy
  variables:
    build_path: "Frontend-React"
  script:
    - "cd $build_path"
    - "npm install"
    - "npm run build"
    - "cd $build_path/dist"
    - "touch composer.json"
    - "touch index.php"
    - "'<?php include_once('index.html'); ?>' > index.php"
    - "git init"
    - "git config user.email 'you@example.com'"
    - "git config user.name 'Your Name'"
    - "echo '<?php include_once("index.html"); ?>' > index.php"
    - "git add ."
    - "git commit -m 'Publish'"
    - "git remote add heroku https://heroku:$api_key@git.heroku.com/front-star.git"
    - "git push -f heroku master"

# deployBackend:
#   type: deploy
#   variables:
#     build_path: "Backend/Backend.WebApi"
#   script:
#   - "cd $build_path"
#   - gem install dpl
#   - dpl --provider=heroku --app=on-star --api-key=$api_key