html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: 60px 25px 2fr 15px 12fr 15px 60px;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas:
    "navBar navBar navBar"
    ". . ."
    ". filter ."
    ". . ."
    ". main ."
    ". . ."
    "footer footer footer";
  background: beige;
}

.navBar {
  grid-area: navBar;
  background: linear-gradient(
    91deg,
    rgba(43, 0, 48, 1) 0%,
    rgba(44, 6, 140, 1) 100%
  );
  display: flex;
}

.filter {
  grid-area: filter;
  border: 1px solid black;
  text-align: center;
}

.main {
  grid-area: main;
  border: 1px solid black;
  text-align: center;
}

.footer {
  grid-area: footer;
  background: linear-gradient(
    91deg,
    rgba(43, 0, 48, 1) 0%,
    rgba(44, 6, 140, 1) 100%
  );
}
