html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: 60px 25px 2fr 15px 12fr 15px 60px;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas:
    "navBar navBar navBar"
    ". . ."
    ". filter ."
    ". . ."
    ". main ."
    ". . ."
    "footer footer footer";
  background: beige;
}

.navBar {
  grid-area: navBar;
  background: linear-gradient(
    91deg,
    rgba(43, 0, 48, 1) 0%,
    rgba(44, 6, 140, 1) 100%
  );
  display: flex;
  justify-content: space-between;
}

.filter {
  grid-area: filter;
  text-align: center;
  padding: 10px;
}

.main {
  grid-area: main;
  text-align: center;
  padding: 10px;
  overflow: auto;
}

.footer {
  grid-area: footer;
  background: linear-gradient(
    91deg,
    rgba(43, 0, 48, 1) 0%,
    rgba(44, 6, 140, 1) 100%
  );
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background: linear-gradient(
    91deg,
    rgba(43, 0, 48, 0.2) 0%,
    rgba(44, 6, 140, 0.7) 100%
  );
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  border-radius: 10px;
}